<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doitstudio.sleepest_master">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SleepestMaster">
        <activity
            android:name=".background.TestActivity"
            android:theme = "@android:style/Theme.Translucent.NoTitleBar"
            android:excludeFromRecents="true"/>
        <activity
            android:name=".alarmclock.LockScreenAlarmActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"/>

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".background.ForegroundService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".background.AlarmReceiver"
            android:exported="true"
            android:enabled="true"/>
        <receiver
            android:name=".background.BootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".alarmclock.AlarmClockReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".sleepapi.SleepReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>