<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sleepestapp.sleepest">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:name="com.sleepestapp.sleepest.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/logov4"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logov4round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SleepestMaster">
        <activity android:name="com.sleepestapp.sleepest.onboarding.PermissionActivity" />
        <activity
            android:name="com.sleepestapp.sleepest.onboarding.OnboardingActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sleepestapp.sleepest.background.ForegroundActivity"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.sleepestapp.sleepest.alarmclock.LockScreenAlarmActivity"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait" />

        <service
            android:name="com.sleepestapp.sleepest.background.ForegroundService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="com.sleepestapp.sleepest.SplashScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.sleepestapp.sleepest.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">

            <intent-filter>

                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/json" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:mimeType="application/json" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="sleepest.page.link"
                    android:pathPattern="/main" />
            </intent-filter>
        </activity>

        <service
            android:name="com.sleepestapp.sleepest.background.ForegroundService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.sleepestapp.sleepest.background.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name="com.sleepestapp.sleepest.background.BootReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <!-- For HTC devices -->
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.sleepestapp.sleepest.alarmclock.AlarmClockReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name="com.sleepestapp.sleepest.googleapi.SleepReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name="com.sleepestapp.sleepest.googleapi.ActivityTransitionReceiver"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>