<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.access_google_fit">
    
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Access_Google_Fit">

        <meta-data
            android:name="com.google.android.gms.vision"
            android:value="@integer/google_play_services_version">
        </meta-data>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/YOUR_API_KEY">
        </meta-data>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.gms.permission.ACTIVITY_RECOGNITION"/> //G-Fit for API level 28 or below
    <uses-permission android:name="android.gms.permission.ACCESS_FINE_LOCATION"/> //G-Fit for API level 28 or below
    <uses-permission android:name="android.gms.permission.BODY_SENSORS"/> //G-Fit for API level 28 or below

    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/> //G-Fit for API level 29 or above
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> //G-Fit for API level 29 or above
    <uses-permission android:name="android.permission.BODY_SENSORS"/> //G-Fit for API level 29 or above

</manifest>